/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #616161}

h1 {
  text-align: center;
}

mat-card {
  margin-top: 4rem;
  padding: 4rem !important;
  border-radius: 0 !important;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}


p {
  text-align: justify;
}

@media screen and (max-width: 768px)
{
  mat-card {
    margin-top: 1rem;
    padding: 1rem !important;
  }
}

