<mat-card>

  <mat-list>
    <h1>Alkoholspiel</h1>
    <br><br>
    <p>Alkoholspiel is a drinking game aimed to increase enjoyement during friend reunion by playing with private jokes
      added by the player</p>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-xs-12">
          <h2>Join a game</h2>
          <br>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Game id...</mat-label>
              <input matInput>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Join</button>
          </p>
        </div>
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-5 col-xs-12">
          <h2>Create a game</h2>
          <br>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Game name...</mat-label>
              <input matInput>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Create Game</button>
          </p>
        </div>
      </div>
    </div>
  </mat-list>

</mat-card>
