<mat-card>

  <mat-list>
    <h1>Alkoholspiel</h1>


    <div class="container">
      <div class="row">
        <div class="col-12">
        <p>Alkoholspiel is a drinking game aimed to increase enjoyement during friend reunions by playing with private jokes
          added by the players.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>Who are you ?</h2>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Your name...</mat-label>
            <input [(ngModel)]="username" matInput>
          </mat-form-field>
        </div>
        <div class="col-md-5 col-xs-12">
          <h2>Join a game</h2>
          <br>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Game id...</mat-label>
              <input [(ngModel)]="gameId" matInput>
            </mat-form-field>
            <br>
            <button mat-raised-button (click)="joinGame()" color="primary">Join</button>
          </p>
        </div>
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-5 col-xs-12">
          <h2>Create a game</h2>
          <br>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Game name...</mat-label>
              <input [(ngModel)]="gameName" matInput>
            </mat-form-field>
            <br>
            <button mat-raised-button (click)="createGame()" color="primary">Create Game</button>
          </p>
        </div>
      </div>
    </div>
  </mat-list>

</mat-card>
