<h1 mat-dialog-title>Add Joke</h1>

<div mat-dialog-content>
  <p>Place a $ where a player name should be randomly inserted : </p>

  <mat-form-field>
    <textarea  matInput placeholder="Joke text..." [(ngModel)]="joke.content" (ngModelChange)="handleTextChange()"></textarea>
  </mat-form-field>

</div>

<p class="error">{{error}}</p>

<div mat-dialog-actions>
  <button [disabled]="this.disabled" mat-raised-button color="primary" [mat-dialog-close]="joke" >Add Joke</button>
  <br>  <br>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>
