.author {
  font-style: italic !important;
}

.count {
  font-size: 4rem;
  text-align: center;
}

.joke-number {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  button{
    margin-top: 1rem;
  }
}
