<mat-card>

  <mat-spinner *ngIf="!game"></mat-spinner>

  <div *ngIf="game">

    <div class="container">

      <div class="row">
        <div class="col-12">
          <h2>{{game.name}}</h2>
          <span class="author">created by {{game.author}}</span><br>

          Jokes count : {{game.jokes.length}}

          <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="true"
                    [chartType]="'bar'">
            </canvas>
          </div>

        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <button mat-raised-button color="primary" (click)="addJoke()">Add Joke</button>
        </div>
        <div class="col-md-6 col-xs-12">
          <button mat-raised-button color="primary" (click)="play()">Start</button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
