@page "/game/create"

<h3>Create a new game</h3>

<div class="d-flex flex-column gap-3">
    <div id="game-form">
        <label>Name :</label>
        <FluentTextField id="game-name" @bind-Value="@Name"></FluentTextField>
       <br/>
        <FluentButton id="create-game" Appearance="@Appearance.Accent" @onclick="HandleClickCreate">Create Game</FluentButton>
    </div>

</div>

@code {
    private string Name;

    private void HandleClickCreate()
    {
        Console.WriteLine(Name);
    }

}